html {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #0a0909;
    background-image: url("./../image/batman-logo-branco.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    background-color: #Fff;
    position: relative;

    width: 500px;
    height: 300px;

    border-radius: 5%;
    display: flex;

    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.footer {
    background-color: black;
}